<%= render 'layouts/navbar' %>

<div class="container">
  <h2>Feed</h2>
  puts "outside if condition"
  
  <% if @feed_posts.present? %>
  <%= puts "inside if condition" %>
  
    <% @feed_posts.each do |post| %>
      <div class="card mb-3">
        <div class="card-body">
          <% if post.user.present? && post.user.my_profile.present? %>
            <h4 class="card-title"><%= post.user.my_profile.user_name %></h4>
          <% else %>
            <p class="text-danger">User profile not found for this post.</p>
          <% end %>

          <p class="card-text"><%= post.comment %></p>

          <% if @feed_posts.present? %>
            <% @feed_posts.images.each do |image| %>
              <%= image_tag(image.file, class: "img-fluid") %>
            <% end %>
          <% end %>


          
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>No posts yet</h3>
  <% end %>

</div>
