<!-- app/views/group_chats/show.html.erb -->
<h1><%= @group_chat.name %></h1>

<div id="group-chat">
  <!-- Display group chat messages here -->
  <% @messages.each do |message| %>
    <p><strong><%= message.user.email %>:</strong> <%= message.content %></p>
  <% end %>
</div>

<!-- Form to submit a new message -->
<%= form_with(model: [@group_chat, Message.new], url: group_chat_messages_path(@group_chat), method: :post) do |form| %>
  <%= form.text_area :content, class: 'form-control' %>
  <%= form.submit 'Send Message', class: 'btn btn-primary mt-2' %>
<% end %>
